@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background: linear-gradient(skyblue,darkblue);
}
header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .etf{
    color:whitesmoke;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li {
    list-style: none;
    margin-left: 20px;

}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: whitesmoke;
    border-radius:20px;
}
header ul li a:hover, 
header ul li a.active
{
    background: white;
    color:black;
}
section{
    position: relative;
    width:100%;
    height:100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
section::before{
    content: '';
    position:absolute ;
    bottom:0 ;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,black,transparent);
    z-index:1000;
}
.container{
    position:absolute;
}
#background {
    position: absolute;
    width:100%;
    height:100vh;
    object-fit: cover;
    pointer-events: none;
}

#html
{
    mix-blend-mode:absolute;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    transform: translate(100px);
    
}
#css{
    mix-blend-mode:normal;
    border-radius: 200px;
    height: 100px;
    width: 100px;
    transform: translate(100px);
}
#cp{
    mix-blend-mode:normal;
    text-decoration: none;
    border-radius: 200px;
    height: 100px;
    width: 100px;
    z-index: 9;
    transform: translate(100px);
}
#c{
    mix-blend-mode: normal;
    border-radius: 200px;
    height: 100px;
    width: 100px;
    z-index: 9;
    
}
#java{
    
    mix-blend-mode: normal;
    border-radius: 200px;
    height: 100px;
    width: 100px;
    z-index: 9;
    transform: translate(100px);
    
}
#button{
    
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background:white;
    color:black;
    font-size: 1.5em;
    z-index: 9;
    transform: translate(100px);

}
.sec{
    position:relative;
    padding:100px;
    background: black;

}
.sec h1{
    font-size: 8em;
    margin-bottom: 10px;
    color:white;
}
input[type=text],
select,
textarea{
    width: 100%;
    padding: 8px;
    border: 5px solid #eeeeee;
    border-radius: 19px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit]{
    background-color: #4cd9c6;
    color:#ffffff;
    padding:12px 20px;
    border:none;
    border-radius:7px;
    cursor:pointer;
}
input[type=submit]:hover{
    background-color: #6fe8d7;
}
label{
    color: #ffffff;
}
h1{
    color: #ffffff;
}
h2{
    color:whitesmoke;
    
}
footer{
    text-align: center;
    position:absolute;
    color: white;
}